@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
button, button:active, button:focus,
input, input:active, input:focus {
outline: none;
}
ol, ul {
list-style: none;
}
.hidden {
display: none;
}
/*Переменные*/
/* Блоки */
body {
font-size: 16px;
min-width: 320px;
position: relative;
line-height: 1.25;
font-family: "Lato", sans-serif;
font-weight: normal;
font-style: normal;
overflow-x: hidden;
background-color: #fff;
}
/* Шапка сайта */
.header {
box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.03), inset 0 -1px 0 0 #f3f3f3;
z-index: 3;
position: relative;
}
.breadcrumb {
background: transparent;
}
.header__line {
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-between;
align-items: center;
height: 111px;
border-bottom: 1px solid #f3f3f3;
margin-right: -15px;
margin-left: -15px;
padding-left: 15px;
}
.header__bottom {
position: relative;
padding-left: 372px;
padding-right: 8px;
}
.header__h-catalog {
width: 372px;
padding: 16px 30px 16px 15px;
position: absolute;
left: 0;
top: 0;
}
.header__h-catalog::after {
content: '';
width: 1px;
background-color: #f3f3f3;
top: 0;
bottom: 0;
right: 0;
z-index: 1;
display: block;
position: absolute;
}
.header__h-catalog.active::after {
display: none;
}
.header__h-mobmenu {
position: absolute;
left: 0;
right: 0;
top: 100%;
background-color: #fff;
z-index: 10;
padding: 15px 15px;
}
/* page */
.body-white-line {
width: 372px;
left: 0;
height: auto;
position: absolute;
top: 199px;
bottom: 0;
z-index: 2;
background-color: #fff;
border-right: 1px solid #f3f3f3;
}
.standart-section {
background-color: transparent;
position: relative;
}
.standart-section__img {
position: absolute;
left: 0;
bottom: 0;
z-index: 1;
}
.white-section {
background-color: #fff;
position: relative;
}
.white-section .page__p-sectionwrapper {
margin-top: 64px;
}
.white-section__img {
position: absolute;
right: -180px;
top: -137px;
}
.page {
margin-left: 372px;
background-color: #f7f7f7;
overflow-x: hidden;
}
.page--inner {
background: #f7f7f7 url(../img/inner-bg.png) no-repeat right top;
}
.page__p-indexbanner {
margin-bottom: -30px;
}
.page__p-redbaner {
margin-top: -143px;
}
.page__p-sectionwrapper {
position: relative;
margin-top: 80px;
margin-bottom: 30px;
padding-right: 350px;
}
.page__p-sectionslider {
position: absolute;
right: 0;
top: 20px;
}
.page__p-carousel {
margin-bottom: 77px;
}
.page__p-sectioninfo {
position: absolute;
right: 0;
top: 13px;
}
.page__p-recipes {
padding-bottom: 86px;
}
/* Подвал сайта */
.footer {
margin-left: 372px;
background-color: #f7f7f7;
}
.footer__top {
background-image: url(../img/footer-bg.png);
background-size: cover;
height: 225px;
background-position: right top;
padding-bottom: 28px;
}
.footer__top .container {
height: 100%;
}
.footer__top .row {
height: 100%;
}
.footer__center {
padding-top: 40px;
padding-bottom: 50px;
background-color: #fff;
}
.footer__bottom {
background-color: #f3f3f3;
padding: 14px 0;
}
.footer__f-col {
width: 25%;
float: left;
}
/**/
/* Шапка сайта */
.h-logo {
display: inline-block;
height: 51px;
width: auto;
}
.h-logo__img {
display: block;
height: 100%;
width: auto;
}
.h-info {
color: #606060;
}
.h-phone {
padding-right: 48px;
position: relative;
display: inline-block;
}
.h-phone__item {
display: block;
}
.h-phone__link {
display: inline-block;
color: #606060;
text-decoration: none;
}
.h-phone__time {
width: 37px;
height: 37px;
border-radius: 50%;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
background-color: #f3f3f3;
position: absolute;
right: 0;
top: 50%;
margin-top: -18.5px;
}
.h-phone__time svg {
width: 16px;
display: block;
height: auto;
fill: #db3333;
}
.h-search {
width: 684px;
background-color: #f3f3f3;
height: 56px;
padding-right: 84px;
position: relative;
border-radius: 28px;
}
.h-search__input {
height: 100%;
width: 100%;
display: block;
padding-left: 32px;
background-color: transparent;
border: none;
color: #1c1c1c;
}
.h-search__btn {
width: 84px;
font-size: 0;
position: absolute;
bottom: 0;
right: 0;
top: 0;
border: none;
background-color: transparent;
background-image: url(../img/icons/search-2.png);
background-repeat: no-repeat;
background-position: center center;
cursor: pointer;
z-index: 1;
border-radius: 0 28px 28px 0;
}
[type=reset], [type=submit], button, html [type=button] {
appearance:normal;
-webkit-appearance:normal;
-moz-appearance:normal;
}
.h-buttons {
font-size: 0;
}
.h-buttons__item {
display: inline-block;
}
.h-buttons__link {
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
height: 111px;
width: 100%;
width: 120px;
border-left: 1px solid #f3f3f3;
text-decoration: none;
}
.h-buttons__link-menu .no-active {
display: block;
}
.h-buttons__link-menu .active {
display: none;
}
.h-buttons__link-menu.active .no-active {
display: none;
}
.h-buttons__link-menu.active .active {
display: block;
}
.h-catalog__toggle {
width: 371px;
background-color: #fff;
position: absolute;
left: 0;
top: 100%;
margin-top: -1px;
padding-left: 15px;
padding-right: 30px;
padding-top: 37px;
min-height: 100vh;
}
.h-catalog__item {
padding-bottom: 15px;
padding-top: 15px;
padding-left: 51px;
position: relative;
border-bottom: 1px solid #f3f3f3;
margin-bottom: 10px;
}
.h-catalog__link {
text-decoration: none;
color: #1c1c1c;
line-height: 27px;
font-size: 18px;
padding-right: 15px;
display: inline-block;
position: relative;
}
.h-catalog__button {
width: 100%;
height: 56px;
background-color: #db3333;
display: block;
font-size: 18px;
color: #fff;
line-height: 56px;
text-align: center;
}
.h-catalog__button span {
display: inline-block;
padding-right: 24px;
position: relative;
color: white;
}
.h-catalog__button span::after {
content: '';
width: 11px;
height: 6px;
display: block;
position: absolute;
right: 0;
top: 27px;
background-repeat: no-repeat;
background-size: contain;
background-position: center center;
background-image: url(../img/icons/catalog-trang.svg);
}
.h-catalog__icon, .icon_catalog {
width: 7.3px;
height: 14.6px;
background-image: url(../img/icons/catalog-arrow.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center center;
display: block;
position: absolute;
right: 0;
top: 20px;
text-decoration: none;
z-index: 1;
}
.icon_catalog {
right: auto;
left: 20px;
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}
.h-catalog__icon.active {
transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}
.h-catalog__sublist {
padding-top: 24px;
padding-bottom: 10px;
display: block;
}
.h-catalog__subitem {
display: block;
padding-left: 19px;
margin-bottom: 15px;
}
.h-catalog__subitem:last-child {
margin-bottom: 0;
}
.h-catalog__sublink {
font-size: 18px;
line-height: 27px;
display: inline-block;
text-decoration: none;
color: rgba(47, 53, 81, 0.7);
}
.h-catalog__list_checbox {
padding-left: 16px;
}
.filters-all{
padding-left: 15px;
}
.filters-all .h-catalog__list {
padding-left: 15px;
}
.filters-all .h-catalog__toggle-filters {
width: 85%;
}
.container-overflow {
padding: 0;
}
.checkbox-container-1, .checkbox-container-2, .checkbox-container-3, .checkbox-container-4 {
padding-left: 16px;
padding-bottom: 5px;
border-bottom: 1px solid #f3f3f3;
}
.checkbox-container .checkbox {
display: flex;
flex-direction: column;
}
.name-check {
padding-top: 30px;
padding-bottom: 4px;
font-family: Lato;
font-size: 18px;
line-height: 1.44;
color: #1c1c1c;
}
.checkbox input {
display: none;
}
.checkbox label {
margin-bottom: 16px;
text-align: left;
font-size: 16px;
line-height: 16px;
color: #a4a4a4;
}
.checkbox label:before {
position: relative;
top: 6px;
content: "";
display: inline-block;
width: 24px;
height: 24px;
margin-right: 12px;
border-radius: 1px;
border: solid 1px #a4a4a4;
}
.checkbox input[type=checkbox]:checked + label {
font-size: 16px;
text-align: left;
line-height: 16px;
font-family: Lato;
font-weight: 500;
color: #1c1c1c;
}
.checkbox input[type=checkbox]:checked + label:before {
content: "";
background-image: url(../img/icons/check.png);
background-size: contain;
border: solid 1px #1c1c1c;
font-size: 15px;
color: #db3333;
text-align: center;
line-height: 15px;
}
.question-a {
display: inline-block;
width: 20px;
height: 20px;
margin-left: 7px;
opacity: 0.3;
border-radius: 50%;
background-color: #db3333;
font-family: Lato;
font-size: 16px;
font-weight: 500;
color: #ffffff;
text-align: center;
line-height: 1.2;
text-decoration: none;
}
.filters {
padding-left: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #f3f3f3;
}
.filters div {
display: flex;
}
.filters .filter {
margin-right: 3%;
font-family: Lato;
font-size: 16px;
font-weight: 500;
line-height: 1.44;
color: #db3333;
}
.filters a {
position: relative;
top: 8%;
text-align: left;
width: 12px;
height: 11px;
font-size: 25px;
line-height: 1.5;
text-decoration: none;
color: #db3333;
}
.watched {
padding-left: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #f3f3f3;
}
.name-check-watched {
font-family: Lato;
font-size: 20px;
font-weight: bold;
line-height: 1.57;
color: #1c1c1c;
}
.watched a {
display: flex;
text-decoration: none;
}
.watched a:nth-of-type(1) img {
width: 48px;
height: 48px;
}
.watched a:nth-of-type(2) img {
width: 48px;
height: 42px;
}
.watched a p {
margin-left: 24px;
font-family: Lato;
font-size: 14px;
font-weight: bold;
line-height: 1.52;
color: #606060;
}
.watched a p:nth-of-type(2) {
margin-left: auto;
line-height: 3;
}
.watched a p span {
display: block;
white-space: pre;
font-family: Lato;
font-size: 12px;
font-weight: 500;
line-height: 1.41;
color: #a4a4a4;
}
.carousel {
position: relative;
width: 100%;
height: 453px;
}
.carousel-indicators {
margin: 0;
padding: 0;
left: 48px;
right: auto;
bottom: 43px;
}
.carousel-indicators li {
width: 8px;
height: 8px;
border-radius: 50%;
opacity: 0.4;
background-color: #ffffff;
}
.carousel-indicators .active {
opacity: 1;
}
.carousel-item {
position: relative;
width: 100%;
height: 453px;
}
.carousel .carousel-item img {
position: relative;
top:0;
width: 100%;
height: 453px;
}
.carousel-item p {
position: absolute;
top: 186px;
left: 48px;
max-width: 456px;
font-family: Lato;
font-size: 150%;
font-weight: bold;
line-height: 1.41;
color: #ffffff;
}
.carousel-item p span {
display: inline-block;
white-space: pre;
}
.carousel-item .p-corusel__button {
position: absolute;
top: 285px;
left: 48px;
width: 148px;
height: 57px;
}
.slick-slider {
width: 100%;
height: 100%;
}
.slick-slider .slick-track, .slick-slider .slick-list {
height: 100%;
}
.slick-initialized .slick-slide {
height: 100%;
}
.slick-slider .slick-dots {
width: 65px;
bottom: 41px;
left: 48px;
}
.slick-slider .slick-dotted.slick-slider {
margin-bottom: 0;
}
.slick-slider .slick-dots li {
width: 8px;
height: 8px;
padding: 0;
margin: 0;
margin-right: 8px;
}
.slick-slider .slick-dots li button:before {
width: 8px;
height: 8px;
font-size: 9px;
opacity: 0.4;
color: white;
}
.slick-slider .slick-dots li button {
padding: 0;
}
.slick-slider .slick-dots li.slick-active button:before {
color: white;
opacity: 1;
}
.page__p-catalog {
margin-top: 9px;
}
.col-filters-mob {
margin-top: 12px;
}
.row-filter {
display: none;
}
#r0 {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 40px;
border-radius: 1px;
border: solid 1px #db3333;
background-color: #ffffff;
}
#r1 a {
width: 100%;
height: 40px;
border-radius: 1px;
border: solid 1px #db3333;
background-color: #ffffff;
}
#r0 a, #r1 a {
position: relative;
display: flex;
width: 100%;
height: 40px;
justify-content: center;
align-items: center;
text-align: center;
text-decoration: none;
font-family: Lato;
font-size: 14px;
line-height: 1.41;
color: #db3333;
}
#r0 .filter-icon, #r1 .filter-icon  {
position: absolute;
width: 25px;
top:8px;
right: 5%;
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
#r0 .question-a, #r1 .question-a,
#r0 .filters .filter a, #r1 .filters .filter a{
display: inline-block;
border: none;
width: auto;
height: auto;
}
#r1 .filters .filter {
line-height: 2.5;
}
.filters-mob {
padding-top: 15px;
background: white;
border-left: 1px solid #db3333;
border-right: 1px solid #db3333;
}
.sort {
display: flex;
margin-top: 50px;
align-items: center;
margin-bottom: 10px;
}
.sort .form-tablet {
display: none;
}
.sort-p {
font-family: Lato;
font-size: 14px;
color: #a4a4a4;
margin-right: 41px;
}
.sort .sort-p-2 {
margin-left: auto;
}
.sort p{
margin-right: 16px;
}
.sort a {
text-decoration: none;
}
.sort a p {
font-family: Lato;
font-size: 16px;
color: #1c1c1c;
border-bottom: 1px dotted #1c1c1c;
}
.sort a .sort-p-active {
color: #db3333;
border-bottom: none;
}
.sort a .sort-p-active span {
border-bottom: 1px dotted #db3333;
}
.sort-p-active:before {
position: relative;
top: -2.6px;
margin-right: 3px;
border: none;
content: "↓";
font-size: 13px;
color: #db3333;
}
.row-filters-mob {
}
.row-sort {
padding: 0;
margin: 0;
}
#sort-select {
position: relative;
width: 152px;
height: 40px;
padding-left: 10px;
border-radius: 1px;
border: 1px solid #1c1c1c;
outline: none;
font-family: Lato;
font-size: 16px;
font-weight: 500;
color: #1c1c1c;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
text-overflow: '';
text-indent: 0.01px;
}
input[type="button"]::-moz-focus-inner {
border : 0px;
}
.select-arrow{
z-index: 11;
position: absolute;
top: 30%;
right: 3%;
}
.select-arrow img {
width: 15px;
background-size: contain;
}
.container-catalog {
z-index: 11;
padding-bottom: 60px;
}
.container-catalog .row { display: flex; justify-content: space-around; }
.product {
position: relative;
height: 347px;
padding: 0 15px;
background-color: white;
margin-bottom: 29px;
}
.product .new {
position: absolute;
top: 21px;
left: 14px;
font-family: Lato;
font-size: 12px;
font-weight: bold;
line-height: 1.44;
letter-spacing: 1.2px;
color: #db3333;
}
.product .stock {
position: absolute;
top: 21px;
left: 14px;
font-family: Lato;
font-size: 12px;
font-weight: bold;
line-height: 1.44;
letter-spacing: 1.2px;
color: #f5a813;
}
.product .stock span {
display: inline-block;
width: 33px;
height: 18px;
border-radius: 2px;
background-color: #f5a813;
color: #ffffff;
text-align: center;
}
.product .like {
position: absolute;
width: 16px;
top: 21px;
right: 12px;
}
.product .col-prod-with {
width: 100%;
height: 35vh;
}
.product .col-prod {
position: relative;
padding-top: 43px;
display: block;
margin: 0 auto;
width: auto;
max-height: 100%;
height: auto;
}
.product .prod-name {
position: relative;
width: 100%;
max-width: 225px;
padding-top: 6px;
font-family: Lato;
font-size: 14px;
font-weight: 500;
line-height: 1.41;
color: #a4a4a4;
}
.product .prod-name span {
display: block;
margin-top: 7px;
line-height: 1.52;
color: #606060;
}
.product  #similar-goods-wrap {
position: relative;
width: 100%;
max-width: 225px;
height: auto;
padding: 0;
margin-top: 16px;
margin-left: auto;
}
.stock-price {
position: absolute;
top: -10px;
font-family: Lato;
font-size: 12px;
font-weight: bold;
line-height: 1.44;
color: #606060;
}
.stock-price:before {
position: absolute;
top: 50%;
content: " ";
display: block;
height: 1px;
width: 100%;
background-color: #f5a813;
}
.product  #similar-goods-wrap div {
position: static;
width: 161px;
height: auto;
padding: 0;
}
.product  #similar-goods-wrap label{
position: relative;
z-index: 20;
display: block;
width: 93%;
max-width: 161px;
cursor: pointer;
font-family: Lato;
font-size: 20px;
font-weight: bold;
line-height: 1.44;
color: #1c1c1c;
}
.product #similar-goods-wrap label:before {
position: absolute;
top: -2px;
right: 0;
content: url(../img/icons/catalog-trang-red.svg);
width: 9px;
}
.product  #similar-goods-wrap label span {
font-family: Lato;
font-size: 14px;
line-height: 1.44;
color: #606060;
}
.product  #similar-goods-wrap .similar-goods span {
display: inline-block;
font-family: Lato;
font-size: 14px;
line-height: 1.44;
color: #606060;
}
.product #similar-goods-wrap input[title]{
display: none;
}
.product #similar-goods-wrap .similar-goods{
width: 100%;
margin-top: -1px;
overflow: hidden;
height: 0;
position: relative;
z-index: 10;
font-family: Lato;
font-size: 14px;
line-height: 1.44;
color: #606060;
overflow: scroll;
}
.similar-goods::-webkit-scrollbar {
width: 2px;
}
.similar-goods::-webkit-scrollbar-thumb {
background: #db3333;
}
.similar-goods::-webkit-scrollbar-thumb:hover {
background: #db3333;
}
.product #similar-goods-wrap .similar-goods p {
font-family: Lato;
font-size: 20px;
font-weight: bold;
line-height: 1.44;
color: #1c1c1c;
border-bottom: 1px solid #f3f3f3;
}
.product #similar-goods-wrap input[title]:checked ~ .similar-goods{
height: 100px;
transition: 0.5s;
}
.product #similar-goods-wrap input[title]:checked ~ label:before {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
top: 5px;
}
.product .bag {
position: absolute;
width: 25px;
top: 0;
bottom: auto;
right: 0;
}
.bag-button span {
display: none;
}
.product-hover .bag {
right: 15px;
}
.product-hover {
display: none;
z-index: 20;
position: absolute;
top: 0;
right: 0;
height: auto;
padding: 0 0px 0px 30px;
border-radius: 2px;
box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);
background-color: white;
transition: 5s;
}
.product-hover .new {
z-index: 5;
left: 50px;
right: auto;
}
.product-hover .stock {
z-index: 5;
left: 50px;
right: auto;
}
.product-hover .col-prod {
margin: 0 auto;
}
.product-hover .col-prod-img {
width: 244px;
margin: 0 0 0 auto;
}
.product-hover .prod-name {
width: 244px;
margin-left: auto;
}
.product-hover #similar-goods-wrap {
margin-left: auto;
}
.prod-hover-class {
position: absolute;
display: block;
top: 18px;
left: 10px;
}
.prod-hover-class-2 {
top: 63px;
}
.prod-hover-class-3 {
top: 101px;
}
.prod-hover-class-4 {
top: 141px;
}
.quantity-bank {
display: flex;
align-items: center;
width: 100%;
max-width: 225px;
margin-top: 15px;
margin-left: auto;
}
.quantity_goods {
}
.quantity_goods input:focus {
outline: none;
}
#num_count {
border: none;
width: 30px;
text-align: center;
font-family: Lato;
font-size: 14px;
line-height: 1.44;
color: #606060;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type='number'] {
-moz-appearance: textfield;
}
#button_minus, #button_plus {
width: 26px;
height: 26px;
font-size: 15px;
text-align: center;
border: 1px solid #db3333;
border-radius: 50%;
background-color: white;
color: #db3333;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.bank {
position: relative;
display: flex;
align-items: center;
width: 71px;
height: 23px;
margin-left: 17px;
border-radius: 2px;
background-color: #fbe6e6;
}
.bank img {
position: absolute;
left: 9px;
}
.bank p {
margin: 0 15px 0 auto;
text-align: right;
font-family: Lato;
font-size: 12px;
line-height: 1.52;
color: #db3333;
}
.product-hover .info-prod {
width: 100%;
max-width: 225px;
height: 62px;
margin-top: 15px;
margin-left: auto;
font-family: Lato;
font-size: 14px;
font-weight: 500;
line-height: 1.52;
color: #606060;
}
.product:hover .product-hover{
display: block;
transition: 5s;
}
.container-quest {
padding: 0;
margin-bottom: 80px;
}
.container .navigation-buttons {
width: 100%;
margin-top: 20px;
text-align: left;
display: flex;
justify-content: flex-start;
}
.navigation-buttons a {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
width: 49px;
height: 40px;
margin-right: 8px;
border-radius: 1px;
border: solid 1px #d9d9d9;
font-family: Lato;
font-size: 16px;
font-weight: 500;
line-height: 1.44;
color: #1c1c1c;
}
.navigation-buttons a:nth-of-type(1) {
font-size: 20px;
}
.navigation-buttons a:nth-of-type(7) {
font-size: 20px;
}
.navigation-buttons a:hover {
border: solid 1px #db3333;
color: #db3333;
}
.container-catalog-2 {
padding-bottom: 0;
}
.h-nav__list {
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-between;
padding-bottom: 25px;
padding-top: 25px;
padding-left: 51px;
}
.h-nav__link {
display: block;
line-height: 38px;
color: #1c1c1c;
font-size: 18px;
text-decoration: none;
}
.h-nav__lang .ui-selectmenu-button.ui-button {
width: auto;
border: none;
background-color: transparent;
padding: 0;
border-radius: none;
padding: 0;
margin: 0;
width: 46px;
}
.h-nav__lang .ui-selectmenu-button.ui-button:focus {
outline: none;
}
.h-nav__lang .ui-selectmenu-button.ui-button::after {
content: '';
width: 10px;
height: 6px;
background-image: url(../img/icons/catalog-trang-red.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
display: block;
position: absolute;
right: 0;
top: 18px;
}
.h-nav__lang .ui-selectmenu-text {
line-height: 38px;
margin-right: 16.3px;
color: #a4a4a4;
font-size: 18px;
font-family: "Lato", sans-serif;
font-weight: normal;
}
.h-nav__lang .ui-button .ui-icon {
display: none;
}
/* Главная страница */
.p-indexbanner {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
height: 688px;
}
.p-indexbanner::after {
content: '';
height: 219px;
left: 0;
right: 0;
background-image: linear-gradient(to top, #f7f7f7 12%, rgba(247, 247, 247, 0));
display: block;
position: absolute;
bottom: 0;
}
.p-indexbanner__title {
position: absolute;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
color: #521e12;
font-size: 48px;
left: 107px;
font-weight: bold;
line-height: 62px;
}
.p-questions {
padding: 52px 41px;
background-color: #fff;
height: 453px;
background-repeat: no-repeat;
background-position: right bottom;
}
.page__p-questions {
margin-bottom: 31px;
}
.p-questions--small {
height: 211px;
background-position: 100% 50%;
}
.p-questions__title {
display: block;
padding-top: 20px;
position: relative;
max-width: 195px;
color: #1c1c1c;
font-size: 24px;
font-weight: bold;
line-height: 34px;
}
.p-questions__title::before {
content: '';
display: block;
width: 34px;
height: 4px;
background-color: #db3333;
position: absolute;
left: 0;
top: 0;
}
.p-questions__list {
padding-top: 18px;
}
.p-questions__item {
display: block;
padding-bottom: 12px;
}
.p-questions__item:last-child {
padding-bottom: 0;
}
.p-questions__link {
display: inline-block;
text-decoration: none;
color: #1c1c1c;
line-height: 23px;
opacity: .7;
}
.p-questions__link:hover {
opacity: 1;
text-decoration: none;
color: #1c1c1c;
}
.p-questions-last {
height: 255px;
padding-top: 30px;
padding-bottom: 0;
}
.p-redbaner {
background-color: #db3333;
padding: 0 41px 52px;
margin-bottom: 30px;
height: 311px;
position: relative;
}
.p-redbaner__count {
font-family: "Georgia";
font-weight: bold;
color: #fff;
font-size: 99.6px;
line-height: 124px;
}
.p-redbaner__description {
line-height: 23px;
color: #fff;
display: block;
margin-top: 10px;
}
.p-redbaner__button {
position: absolute;
bottom: 40px;
left: 41px;
color: #fff;
line-height: 38px;
padding-left: 62px;
text-decoration: none;
}
.p-redbaner__button::before {
content: '';
width: 38px;
height: 38px;
display: block;
background-image: url(../img/icons/white-btn-arrow.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
position: absolute;
left: 0;
top: 0;
}
.p-sectiontitle {
color: #1c1c1c;
font-size: 40px;
letter-spacing: 1.2px;
line-height: 60px;
display: block;
font-family: "Oswald", sans-serif;
font-weight: 500;
}
.p-sectionslider {
font-size: 0;
}
.p-sectionslider::after {
clear: both;
content: "";
display: table;
}
.p-sectionslider span {
color: #db3333;
line-height: 28px;
display: inline-block;
font-size: 16px;
float: left;
margin-right: 36px;
}
.p-sectionslider__arrow {
width: 28px;
height: 28px;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
display: inline-block;
text-decoration: none;
}
.p-sectionslider__prev {
background-image: url(../img/icons/slider-prev-red.svg);
}
.p-sectionslider__next {
background-image: url(../img/icons/slider-next-red.svg);
margin-left: 10px;
}
.p-carousel .owl-stage-outer::before {
content: '';
display: block;
position: absolute;
right: 100%;
width: 9999px;
top: 0;
bottom: 0;
z-index: 1;
}
.p-carousel .owl-stage-outer::after {
content: '';
display: block;
position: absolute;
left: 100%;
width: 9999px;
top: 0;
bottom: 0;
background: linear-gradient(to right, rgba(247, 247, 247, 0) 0%, #f7f7f7 1%, white 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#ffffff',GradientType=1 );
z-index: 1;
}
.p-prodelement {
padding: 20px 14px 0 15px;
background-color: #fff;
position: relative;
height: 347px;
}
.p-prodelement__block {
position: absolute;
left: 15px;
top: 14px;
z-index: 1;
}
.p-prodelement__new {
font-size: 12px;
text-transform: uppercase;
color: #db3333;
line-height: 18px;
font-weight: bold;
}
.p-prodelement__stock {
text-transform: uppercase;
color: #f5a813;
font-weight: bold;
font-size: 12px;
}
.p-prodelement__stock span {
color: #fff;
padding: 0 4px;
background-color: #f5a813;
height: 18px;
font-size: 12px;
position: relative;
top: -1px;
margin-left: 4px;
border-radius: 2px;
}
.p-prodelement__fav {
position: absolute;
top: 14px;
right: 14px;
z-index: 1;
}
.p-prodelement__fav svg {
width: 18px;
}
.p-prodelement__top {
height: 170px;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: flex-end;
margin-bottom: 16px;
}
.p-prodelement__img {
display: block;
max-height: 100%;
max-width: 100%;
width: auto !important;
height: auto;
}
.p-prodelement__tag {
color: #a4a4a4;
font-size: 14px;
line-height: 21px;
display: block;
margin-bottom: 7px;
font-weight: 500;
}
.p-prodelement__description {
color: #606060;
font-size: 14px;
line-height: 22px;
display: block;
padding-bottom: 16px;
min-height: 44px;
overflow: hidden;
font-weight: 500;
}
.p-prodelement__bottom {
position: relative;
}
.p-prodelement__oldprice {
display: block;
width: 100%;
position: absolute;
top: -16px;
left: 0;
}
.p-prodelement__oldprice span {
font-size: 12px;
line-height: 18px;
position: relative;
display: inline-block;
color: #606060;
}
.p-prodelement__oldprice span::after {
content: '';
height: 1px;
left: 0;
right: 0;
display: block;
position: absolute;
top: 50%;
margin-top: -.5px;
background-color: #f5a813;
}
.p-prodelement__price {
padding-right: 7px;
font-size: 14px;
color: #606060;
line-height: 30px;
position: relative;
padding-right: 16px;
display: inline-block;
}
.p-prodelement__price b {
color: #1c1c1c;
font-size: 20px;
font-weight: bold;
line-height: 30px;
margin-right: 8px;
}
.p-prodelement__price::after {
content: '';
width: 9px;
height: 5px;
display: block;
background-image: url(../img/icons/little-like-red.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center center;
position: absolute;
right: 0;
top: 17px;
}
.p-prodelement__basket {
float: right;
margin-top: 8px;
}
.p-neededhelp {
height: 188px;
background-color: #1b1c20;
padding: 0 32px 28px;
position: relative;
}
.p-neededhelp .row {
height: 100%;
}
.p-neededhelp::after {
content: '';
display: block;
left: 0;
right: 0;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
z-index: 1;
position: absolute;
background-image: url(../img/neededhelp-bg.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.p-neededhelp__left {
position: relative;
z-index: 2;
}
.p-neededhelp__title {
font-size: 24px;
line-height: 35px;
color: #fff;
font-weight: bold;
}
.p-neededhelp__description {
margin-top: 17px;
font-size: 18px;
line-height: 27px;
opacity: .6;
color: #fff;
}
.p-neededhelp__right {
position: relative;
z-index: 2;
padding-left: 30px;
}
.p-neededhelp__form {
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-between;
width: 100%;
}
.p-neededhelp__input {
display: block;
height: 64px;
line-height: 100%;
border: 1px solid #fff;
background-color: #fff;
padding-left: 23px;
padding-right: 23px;
box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.3);
font-size: 18px;
border-radius: 2px;
color: #1c1c1c;
width: 100%;
}
.p-neededhelp__button {
background-color: #db3333;
box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.3);
border-radius: 2px;
min-width: 162px;
width: 162px;
height: 64px;
border: 1px solid #db3333;
line-height: 100%;
text-align: center;
display: block;
color: #fff;
font-weight: 500;
font-family: "Lato";
margin: 0 0 0 12px;
padding: 0;
cursor: pointer;
}
.p-sectioninfo {
padding-left: 93px;
position: relative;
}
.p-sectioninfo__count {
position: absolute;
display: inline-block;
left: 0;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
font-size: 40px;
font-weight: bold;
font-family: "Georgia", sans-serif;
color: #db3333;
}
.p-sectioninfo__description {
color: #1c1c1c;
line-height: 19.5px;
}
.p-recipes__top {
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height: 280px;
margin-bottom: 24px;
}
.p-recipes__description {
font-weight: bold;
line-height: 23.33333px;
margin-bottom: 12px;
min-height: 70px;
color: #606060;
}
.p-recipes__set {
line-height: 24px;
color: #db3333;
display: inline-block;
margin-right: 16px;
position: relative;
text-decoration: none;
border-bottom: 1px dashed #db3333;
font-weight: 500;
}
.p-recipes__set::after {
content: '';
display: block;
width: 9px;
height: 5px;
background-image: url(../img/icons/little-like-red.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
position: absolute;
right: -16px;
top: 11px;
}
.p-recipes__bottom {
margin-top: 27px;
}
.p-recipes__bottom::after {
clear: both;
content: "";
display: table;
}
.p-recipes__price {
line-height: 40px;
color: #1c1c1c;
font-size: 20px;
font-weight: bold;
}
.p-recipes__btn {
float: right;
height: 40px;
padding-left: 50px;
padding-right: 16px;
color: #fff;
font-weight: 500;
line-height: 38px;
background-color: #1c1c1c;
border: 1px solid #1c1c1c;
position: relative;
text-decoration: none;
}
.p-recipes__btn svg {
left: 14px;
top: 11px;
position: absolute;
display: block;
}
.p-recipes__btn:hover {
opacity: .7;
text-decoration: none;
color: #fff;
}
.p-news {
background-color: #fff;
}
.p-news .p-recipes__top {
margin-bottom: 12px;
}
.p-news__wrapper {
padding-bottom: 16px;
padding-left: 24px;
padding-right: 24px;
}
.p-news__data {
color: #a4a4a4;
font-size: 14px;
font-weight: 500;
display: block;
line-height: 21px;
margin-bottom: 7px;
}
.p-news .p-recipes__description {
min-height: 48px;
}
.p-news__detal {
color: #db3333;
line-height: 24px;
display: inline-block;
text-decoration: none;
font-size: 16px;
}
.p-news__detal:hover {
text-decoration: none;
opacity: .7;
color: #db3333;
}
.f-nav__title {
color: #a4a4a4;
font-size: 18px;
line-height: 29px;
}
.f-nav__list {
padding-top: 15px;
display: block;
}
.f-nav__item {
display: block;
width: 100%;
padding-bottom: 12px;
}
.f-nav__item:last-child {
padding-bottom: 0;
}
.f-nav__link {
color: #1c1c1c;
text-decoration: none;
}
.f-nav__link:hover {
text-decoration: none;
color: #1c1c1c;
opacity: .7;
}
.f-contacts {
text-align: right;
}
.f-contacts__phone {
color: #1c1c1c;
font-size: 18px;
font-weight: bold;
line-height: 29px;
margin-bottom: 13px;
display: block;
}
.f-contacts__email {
color: #db3333;
font-size: 18px;
line-height: 27px;
display: block;
margin-bottom: 20px;
}
.f-contacts__social {
font-size: 0;
text-align: right;
}
.f-contacts__item {
display: inline-block;
margin-left: 22px;
}
.f-contacts__item:last-child {
margin-left: 0;
}
.f-contacts__link {
width: 24px;
height: 24px;
text-align: center;
display: block;
}
.f-contacts__link svg {
display: inline-block;
}
.f-copy {
color: #a4a4a4;
font-size: 14px;
display: block;
text-align: center;
line-height: 18px;
font-weight: 500;
}
.page--inner {
padding: 32px 65px;
}
.breadcrumb li {
font-family: "Lato";
display: inline-block;
vertical-align: middle;
font-size: 16px;
font-weight: 500;
line-height: 1.44;
color: #a4a4a4;
}
.breadcrumb a{
color: #db3333;
text-decoration: none;
}
.breadcrumb__delimiter {
margin: 0 3px;
}
.page-title {
font-family: "Oswald";
font-size: 48px;
font-weight: 500;
color: #1c1c1c;
margin-bottom: 47px;
}
/**/
#set-drop label{
position: relative;
line-height: 24px;
color: #db3333;
display: inline-block;
margin-right: 16px;
position: relative;
text-decoration: none;
border-bottom: 1px dashed #db3333;
font-weight: 500; }
#set-drop label:after {
content: '';
display: block;
width: 9px;
height: 5px;
background-image: url(../img/icons/little-like-red.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
position: absolute;
right: -16px;
top: 11px;
}
#set-drop input[title]{ display: none; }
#set-drop .set-drop-all{
z-index: 5;
position: absolute;
width: 230px;
height: 0;
display: none;
background: white;
box-shadow: 0 4px 74px 0 rgba(0, 0, 0, 0.1);
font-family: Lato;
font-size: 14px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.52;
letter-spacing: normal;
color: #606060;
overflow: scroll;
overflow-x: hidden;
}
#set-drop .set-drop-all div {
display: flex;
padding: 5px 0px 0px 5px;
border-bottom: solid 1px #d9d9d9;
}
#set-drop .set-drop-all a {
text-decoration: none;
color: #606060;
}
.set-with {
width: 38px;
}
#set-drop .set-drop-all a div p {
text-decoration: none;
position: relative;
left: 10%;
}
#set-drop .set-drop-all a div span{
display: block;
font-size: 12px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.41;
letter-spacing: normal;
color: #a4a4a4;
}
/* width */
.set-drop-all::-webkit-scrollbar {
width: 4px;
}
/* Handle */
.set-drop-all::-webkit-scrollbar-thumb {
background: #db3333;
}
/* Handle on hover */
.set-drop-all::-webkit-scrollbar-thumb:hover {
background: #db3333;
}
#set-drop input[title]:checked ~ .set-drop-all{ display: block; height: 195px; transition: 0.5s; }
/*catalog3 style*/
.page--inner-basket-1 {
margin-left: 0;
}
.footer-basket-1 {
margin-left: 0;
}
.h-catalog__subitem {
position: relative;
}
.icon_catalog-clone {
top: 8px;
left: -8px;
}
.page-title-catalog3 {
margin-bottom: 0;
}
/*basket-1 style*/
.col-form-basket {
margin-top: 32px;
}
.line-basket {
position: absolute;
left: 6px;
height: 433px;
width: 2px;
background: #d9d9d9;
}
.line-basket .chek-basket-2{
display: none;
}
.line-basket-red {
width: 100%;
height: 30%;
background-color: #db3333;
max-height: 136px;
}
.chek-basket-1 {
position: absolute;
top: 78%;
left: -8px;
}
.form-basket {
position: relative;
margin-top: 21px;
}
.col-form-basket h2 {
font-family: Lato;
font-size: 24px;
font-weight: bold;
line-height: 1.41;
color: #db3333;
}
.contact_form li {
margin-top: 24px;
margin-left: 25px;
}
.contact_form li input {
width: 100%;
max-width: 454px;
height: 56px;
padding: 0 21px 0 24px;
border-radius: 2px;
border: solid 1px #a4a4a4;
background-color: #ffffff;
font-family: Lato;
font-size: 16px;
color: #1c1c1c;
}
::-webkit-input-placeholder {
font-family: Lato;
font-size: 14px;
color: #a4a4a4;
}
::-moz-placeholder {
font-family: Lato;
font-size: 14px;
color: #a4a4a4;
}
:-moz-placeholder {
font-family: Lato;
font-size: 14px;
color: #a4a4a4;
}
:-ms-input-placeholder {
font-family: Lato;
font-size: 14px;
color: #a4a4a4;
}
.button-basket-form-1 {
display: flex;
width: 292px;
height: 56px;
border-radius: 2px;
background-color: #db3333;
align-items: center;
justify-content: center;
text-decoration: none;
font-family: Lato;
font-size: 16px;
color: #ffffff;
}
.button-basket-form-1 span:nth-of-type(2) {
display: none;
}
.delivery-details-basket-1 {
position: relative;
margin-top: 60px;
font-family: Lato;
font-size: 24px;
font-weight: bold;
color: #a4a4a4;
}
.line-basket-1 {
width: 34px;
height: 5px;
background-color: #db3333;
margin-bottom: 10px;
}
.line-basket-1:after {
position: relative;
left: 42px;
display: block;
content: " ";
width: 34px;
height: 5px;
background-color: #d9d9d9;
}
.items-in-the-basket {
width: 100%;
height: auto;
padding-bottom: 21px;
max-width: 612px;
margin-top: 12px;
padding-top: 51px;
border-radius: 2px;
box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.02);
background-color: #ffffff;
}
.items-in-the-basket .line-basket-1 {
margin-left: 53px;
}
.items-in-the-basket .line-basket-1:after {
display: none;
}
.items-text-basket-1 {
display: flex;
align-items: center;
padding-bottom: 15px;
font-family: Lato;
font-size: 24px;
font-weight: bold;
color: #1c1c1c;
border-bottom: solid 1px #a4a4a4
}
.items-text-basket-1 p:nth-of-type(1) {
margin-left: 53px;
}
.items-text-basket-1 p:nth-of-type(3) {
margin-right: 24px;
}
.items-text-basket-1 p:nth-of-type(2) {
width: 40px;
height: 29px;
margin-left: auto;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.3;
border-radius: 14.5px;
background-color: #db3333;
font-size: 14px;
color: #ffffff;
}
.items-text-basket-1 p:nth-of-type(3) {
margin-left: 5%;
font-size: 20px;
font-weight: bold;
color: #1c1c1c;
}
.items-in-the-basket ul {
width: 100%;
}
.items-in-the-basket ul li{
display: flex;
align-items: center;
justify-content: space-around;
height: 80px;
border-bottom: solid 1px #a4a4a4
}
.items-in-the-basket ul li a {
background: url(../img/icons/close-basket.png) no-repeat;
width: 12px;
height: 12px;
position: relative;
left: 3%;
}
.items-in-the-basket ul li p:nth-of-type(1) {
  width: 126px;
font-family: Lato;
font-size: 14px;
font-weight: bold;
color: #606060;
}
.items-in-the-basket ul li p:nth-of-type(1) span {
display: block;
font-size: 12px;
font-weight: 500;
color: #a4a4a4;
}
#select-items {
position: relative;
display: inline-block;
width: 84px;
padding-left: 12px;
height: 40px;
border-radius: 2px;
border: solid 1px #d9d9d9;
font-family: Lato;
font-size: 14px;
line-height: 1.44;
color: #606060;
}
.items-in-the-basket .select-items-basket {
position: relative;
}
.items-in-the-basket .select-items-basket:after {
content: url(../img/icons/aroow-basket-1.png);
padding: 0 8px;
font-size: 12px;
position: absolute;
right: 8px;
top: 26%;
z-index: 1;
text-align: center;
width: 10px;
height: 10px;
pointer-events: none;
box-sizing: border-box;
color: red;
}
select {
padding-right: 25px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
:active, :hover, :focus {
outline: 0;
outline-offset: 0;
}
.order button {
width: 28px;
height: 28px;
font-size: 18px;
color: #db3333 ;
border: solid 1px #db3333;
border-radius: 50%;
background: white;
}
.order .stepper__input {
width: 10px;
margin: 0 8px;
border: none;
font-family: Lato;
font-size: 14px;
line-height: 1.44;
color: #606060;
}
.items-in-the-basket ul li p:nth-of-type(2) {
font-family: Lato;
font-size: 16px;
font-weight: bold;
color: #606060;
}
.button-to-issue {
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
width: 408px;
height: 72px;
margin: 32px auto 0 auto;
border-radius: 2px;
background-color: #f5cccd;
font-family: Lato;
font-size: 16px;
font-weight: 500;
line-height: 1.44;
color: #ffffff;
}
.button-to-issue:hover {
background: #db3333;
}
.button-to-issue span:nth-of-type(1) {
margin-right: 2%;
}
.button-to-issue span:nth-of-type(2) {
font-weight: 800;
margin-left: 2%;
}
.promo-code {
display: block;
margin: 32px auto 0 auto;
text-align: center;
text-decoration: none;
font-family: Lato;
font-size: 16px;
font-weight: 500;
line-height: 1.44;
color: #1c1c1c;
}
.input-code {
position: relative;
width: 346px;
height: 48px;
margin: 16px auto 16px auto;
}
.input-code input{
width: 346px;
height: 48px;
padding-left: 16px;
border-radius: 2px;
border: solid 1px #a4a4a4;
background-color: #ffffff;
}
.input-code .input-code-enter {
position: absolute;
top:16%;
right: 2%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
width: 32px;
height: 32px;
color: white;
background: #db3333;
}
.continue-shopping {
position: static;
display: block;
margin: 40px auto 21px auto;
text-align: center;
text-decoration: none;
font-family: Lato;
font-size: 16px;
font-weight: 500;
color: #db3333;
}
.continue-shopping img {
position: relative;
top:1px;
margin-left: 10px;
}
/*basket-2 style*/
.line-basket-2-head:after {
background: #db3333;
}
.body-white-line-basket-2 {
display: none;
}
.line-basket-2 {
background: #db3333;
}
.line-basket-2 .chek-basket-1 {
display: none;
}
.line-basket-2 .chek-basket-2 {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
background-size: 10px 10px;
width: 19px;
height: 19px;
z-index: 3;
top: 78%;
left: -8px;
background: #db3333;
border-radius: 50%;
}
.line-basket-2 .chek-basket-2 img {
width: 12px;
}
.delivery-details-basket-2 {
margin-top: 75px;
color: #db3333;
}
.delivery-basket-2 {
margin-top: 28px;
font-family: Lato;
font-size: 16px;
font-weight: 500;
color: #a4a4a4;
}
.button-basket-form-2 {
width: 262px;
height: 24px;
margin-top: 40px;
margin-left: 24px;
background: transparent;
color: #db3333;
border-bottom: 1px dashed #db3333;
}
.button-basket-form-2 span:nth-of-type(1) {
display: none;
}
.button-basket-form-2 span:nth-of-type(2) {
display: block;
}
.delivery-details-choice {
margin-top: 16px;
}
.delivery-details-choice li {
position: relative;
width: 100%;
max-width: 480px;
background: white;
margin-bottom: 12px;
font-family: Lato;
line-height: 1.44;
font-size: 16px;
color: #1c1c1c;
}
.delivery-details-choice li span:nth-of-type(2) {
display: inline-block;
margin-top: 5px;
font-size: 14px;
line-height: 1.29;
color: #a4a4a4;
}
.delivery-details-choice-button {
position: absolute;
top: 21px;
left: 5%;
border-radius: 50%;
width: 24px;
height: 24px;
border: solid 1px #db3333;
}
.delivery-details-choice-active span:nth-of-type(1) {
color: #db3333;
}
.delivery-address-1 input,
.delivery-address-2 input,
.delivery-address-3 input {
height: 44px;
padding-left: 12px;
padding-right: 12px;
border-radius: 2px;
border: solid 1px #d9d9d9;
}
.delivery-address-1 input:nth-of-type(1) {
width: 68%;
margin-right: 1%;
}
.delivery-address-1 input:nth-of-type(2) {
width: 28%;
}
.delivery-address-2 input:nth-of-type(1) {
width: 98%;
}
.delivery-address-3 input:nth-of-type(1) {
width: 30%;
}
.delivery-address-3 input:nth-of-type(2) {
width: 30%;
}
.delivery-details-choice .delivery-details-choice-active {
padding: 0 0 24px 0;
}
.delivery-details-choice .delivery-details-choice-active div {
box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
margin-bottom: 24px;
}
.delivery-details-choice-active p {
padding-left: 24px;
margin-top: 12px;
}
.delivery-details-choice li .line-active-choice,
.payment-for-goods li .line-active-choice {
position: absolute;
top: 0;
left: 0;
width: 4px;
height: 100%;
padding: 0;
margin: 0;
background: #db3333;
box-shadow: none;
}
.delivery-details-choice-button-active:after {
position: relative;
content: " ";
top: 18%;
left: 20%;
display: block;
border-radius: 50%;
width: 14px;
height: 14px;
background-color: #db3333;
}
.payment-for-goods {
margin-top: 16px;
}
.payment-for-goods li {
position: relative;
display: flex;
align-items: center;
background: white;
margin-bottom: 12px;
max-width: 480px;
width: 100%;
min-height: 65px;
}
.payment-for-goods p {
font-family: Lato;
font-size: 16px;
font-weight: bold;
line-height: 1.44;
color: #1c1c1c;
}
.payment-for-goods-active p {
color: #db3333;
}
#r-adress-0, #r-adress-1,
#r-adress-2, #r-adress-3,
#r-adress-4, #r-adress-5,
#r-adress-6, #r-adress-7,
#r-service-0, #r-service-1,
#r-service-2, #r-service-3,
#r-service-4, #r-service-5,
#r-service-6, #r-service-7,
#r-service-8, #r-service-9,
#r-service-10, #r-service-11 {
  width: 100%;
  height: 100%;
  min-height: 65px;
}
#r-adress-0 a, #r-adress-1 a,
#r-adress-2 a, #r-adress-3 a,
#r-adress-4 a, #r-adress-5 a,
#r-adress-6 a, #r-adress-7 a,
#r-service-0 a, #r-service-1 a,
#r-service-2 a, #r-service-3 a,
#r-service-4 a, #r-service-5 a,
#r-service-6 a, #r-service-7 a,
#r-service-8 a, #r-service-9 a,
#r-service-10 a, #r-service-11 a  {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  min-height: 65px;
  padding-left: 68px;
  padding-top: 20px;  
  padding-bottom: 20px;
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  color: #1c1c1c;
}
#r-service-0 a b, #r-service-1 a b,
#r-service-2 a b, #r-service-3 a b,
#r-service-4 a b, #r-service-5 a b,
#r-service-6 a b, #r-service-7 a b,
#r-service-8 a b, #r-service-9 a b,
#r-service-10 a b, #r-service-11 a b {
display: inline-block;
}
#r-adress-1, #r-adress-3,
#r-adress-5, #r-adress-7,
#r-service-1, #r-service-3,
#r-service-5, #r-service-7,
#r-service-9, #r-service-11 {
  border-left: 4px solid #db3333;
}
#r-adress-1 a, #r-adress-3 a,
#r-adress-5 a, #r-adress-7 a,
#r-service-1 a, #r-service-3 a,
#r-service-5 a, #r-service-7 a,
#r-service-9 a, #r-service-11 a {
  padding-left: 64px;
  color: #db3333;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}
#r-service-1 p, #r-service-3 p,
#r-service-5 p, #r-service-7 p,
#r-service-9 p, #r-service-11 p {
  margin-left: 24px;
  margin-bottom: 12px;
}
#r-service-1 div, #r-service-3 div,
#r-service-5 div, #r-service-7 div,
#r-service-9 div, #r-service-11 div {
  margin-top: 24px;
}
/*basket-3 style*/
.successfully-issued {
  width: 100%;
  max-width: 480px;
  padding-left: 43px;
  border-left: 2px solid #db3333;
}
.successfully-issued-1 {
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  color: #db3333;
}
.successfully-issued-2 {
  margin-top: 21px;
  font-family: Lato;
  font-size: 20px;
  color: #1c1c1c;
}
.successfully-issued-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 24px;
  width: 237px;
  height: 56px;
  border-radius: 2px;
  background-color: #db3333;
  font-family: Lato;
  font-size: 16px;
  color: #ffffff;
}
.successfully-issued-check {
  position: absolute;
  top: 0;
  left: -3px;
}
.successfully-issued-form {
  margin-top: 64px;
}
.successfully-issued-name {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  color: #a4a4a4;
}
.successfully-issued-form-1 {
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
  border-left: 4px solid #db3333;
  height: 88px;
  border-radius: 2px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
}
.successfully-issued-form-1 p {
  padding-left: 44px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  color: #1c1c1c;
}
.successfully-issued-form-1 p span {
  display: block;
  font-family: Lato;
  font-size: 14px;
  color: #a4a4a4;
}
.successfully-issued-button-2 {
  width: 100%;
  max-width: 480px;
  height: 64px;
}
.items-in-the-basket-3 ul li p:nth-of-type(1) {
width: 126px;
margin-right: 10%;
margin-left: 3%;
}
.items-in-the-basket-3 ul li {
  justify-content: flex-end;
  padding-left: 40px;
}
.items-in-the-basket-3 ul li p:nth-of-type(2) {
margin-right: 13%;
}
.items-in-the-basket-3 ul li p:nth-of-type(3) {
  margin-right: 16%;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  color: #606060;
}
.items-in-the-basket-3 ul li p:nth-of-type(4) {
  margin-right: 3%;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  color: #606060;
}
.items-text-basket-3 p:nth-of-type(1) {
}
.items-text-basket-3 p:nth-of-type(2) {
  width: auto;
  height: auto;
  background: transparent;
  font-family: Lato;
  opacity: 1;
  font-size: 12px;
  color: #606060;
}
.items-text-basket-3 p:nth-of-type(3) {
  font-family: Lato;
  font-size: 12px;
  color: #606060;
}
.items-text-basket-3 p:nth-of-type(4) {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  color: #1c1c1c;
  margin-right: 24px;
}
.col-form-basket-3 {
  padding: 0;
}
.items-in-the-basket-3 ul li p:nth-of-type(3) span{
display: none;
}
.items-text-basket-3 span {
  display: none;
}
/*business style*/
.p-questions__title-bosiness {
  margin: 0 auto;
  color: white;
}
.p-questions-business {
  text-align: center;
  height: 420px;
  background-size: cover;
  padding-left: 0;
padding-right: 0;
}
.p-questions__title-bosiness::before {
  left: 50%;
  margin-left: -17px;
}
.page__p-questions-business {
background-size: cover;
}
.p-questions__link-business {
color: white;
}
.p-questions__link-businessf:hover {
color: white;
} 
.container-tab-business {
  display: none;
}
.page__p-questions-business-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center center;
  height: 426px;
}
.p-questions__title-business-tab {
  color: white;
  text-align: center;
  font-size: 20px;
}
.page__p-questions-business-tab-small {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center center;
    height: 203px;
}
.page__p-questions-business-tab-small:nth-of-type(2){
  margin-top: 20px;
}
.p-questions__title-business-tab::before {
  left: 50%;
  margin-left: -17px;
}